/* CSS - Medium */

/* TODO: Implement card-class */
.card{
    border-radius: 0px 0px 25px 25px;
    border: 5px solid crimson;
    width: fit-content;
}
.card > h2{
    font-size: 45pt;
    padding-top: 30px;
    margin: 0px;
    background-color: cornsilk;
    text-align: center;
    height: 100px;
    color: crimson;
}
.card > p{
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    margin: 0px;
    background-color: crimson;
    text-align: baseline;
    height: 50px;
    color:cornsilk;
}