
.navbar {
    background-color: $primary-color;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.navbar-link:hover {
    background-color: $secondary-color;
    border-radius: 3px;
}

.active {
    background-color: $secondary-color;
}

.logo {
    width: 150px;
    float: left;
}
