* {
  box-sizing: border-box;
}
.container {
  text-align: center;
}
.container form {
  margin: 20px auto 10px;
  width: 50%;
  overflow: hidden;
}
.container form input {
  background-color: #f7f7f7;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: calc(100% - 210px);
  height: 46px;
  padding: 10px;
  float: left;
}
.container form input:focus {
  outline: none;
}
.container form button {
  width: 90px;
  height: 46px;
  padding: 10px;
  background-color: #2196f3;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  float: left;
  margin-left: 5px;
}
.container form button:disabled {
  opacity: 0.4;
  cursor: no-drop;
}
.container form button:focus {
  outline: none;
}
.container form button.delete-all {
  width: 110px;
  background-color: #f44336;
}
.container .tasks-list {
  width: 50%;
  margin: 0 auto;
}
.container .tasks-list .task-box {
  background-color: rgba(139, 195, 74, 0.25);
  padding-left: 15px;
  text-align: left;
  margin-bottom: 15px;
  margin-right: 5px;
  width: calc(100% - 86px);
  cursor: pointer;
  float: left;
  display: flex;
  align-items: center;
}
.container .tasks-list .task-box .toggle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
}
.container .tasks-list .task-box p {
  width: 90%;
  word-wrap: break-word;
}
.container .tasks-list .delete {
  float: right;
  width: 80px;
  background-color: #f44336;
  color: #fff;
  border-color: transparent;
  padding: 1px 10px;
  cursor: pointer;
  height: 48px;
  line-height: 51px;
}
.container .todo-footer {
  width: 50%;
  margin: 40px auto;
  display: flex;
  align-items: center;
}
.container .todo-footer > span {
  flex: 0.7;
  text-align: left;
}
.container .todo-footer ul {
  flex: 0.3;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .todo-footer ul li span {
  cursor: pointer;
  padding: 8px 15px;
  background-color: #eee;
}
.container .todo-footer ul li span.selected {
  border: 1px solid #3eb3a9;
  background-color: #256e68;
  color: #fff;
}
