/* CSS - Medium */

/* TODO: Implement card-class */
.card{
    width: 300px;
    height: 400px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    padding: 20px;
}