.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
}

.light:not(.active) {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 5px solid white;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.traffic-light-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
