/* Reset box model for all elements */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Body Styles */
body {
  background: linear-gradient(to right, red, yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

/* Clock Styles */
.clock {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 6px solid black;
  position: relative;
}

/* Clock Numbers */
.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
  /* TODO: Define rotations for numbers (1 to 12) */
}
.clock span{
  position: absolute;
  transform: rotate(calc(30deg * var(--i))); 
  inset: 12px;
  text-align: center;
}

.clock span b{
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 20px;
}

/* Clock Hands */
.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

/* Clock Second Hand */
.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}

/* Clock Minute and Hour Hands */
.clock .hand.minute,
.clock .hand.hour {
  /* TODO: Define styles for minute and hour hands */
  width: 3px;
  height: 35%;
  background-color: #333;
  transform-origin: bottom;
}

/* Clock Center */
.clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* Background Styles Only (No changes needed) */
@import url("https://fonts.googleapis.com/css?family=Raleway");

.side-links {
  position: absolute;
  top: 15px;
  left: 15px;
}

.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}

.side-link-youtube {
  background-color: indigo;
}

.side-link-twitter {
  background-color: navy;
}

.side-link-github {
  background-color: #6e5494;
}

.side-link-text {
  margin-left: 10px;
  font-size: 18px;
}

.side-link-icon {
  color: white;
  font-size: 30px;
}

/* Clock Hands */
.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
  transform-origin: bottom center;
}

.clock .hand.minute {
  width: 5px;
  height: 45%;
  background-color: #333;
  transform-origin: bottom center;
}

.clock .hand.hour {
  width: 5px;
  height: 30%;
  background-color: #333;
  transform-origin: bottom center;
}