*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #f8d7da, #d3f9d8);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 6px solid #aaa;
  position: relative;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
  font-family: 'Arial', sans-serif;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: #f44336;
}

.clock .hand.minute {
  width: 4px;
  height: 40%;
  background-color: #4caf50;
}

.clock .hand.hour {
  width: 6px;
  height: 30%;
  background-color: #2196f3;
}

.clock::after {
  content: "";
  position: absolute;
  background-color: #333;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
