/* HTML - Medium */

body {
  font-family: "Arial", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(216, 206, 206, 0.9);
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

h1 {
  color: #333;
}

.form-group {
  margin-bottom: 25px;
  position: relative;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 100px);
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  resize: vertical;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #5645a0;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
