/* CSS - Hard */

/* TODO: Add CSS for the card */
.card-container {
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.card-front {
  background-color: #ff9f00;
}

.card-back {
  background-color: #4caf50;
  transform: rotateY(180deg);
}
