/* CSS - Hard */

/* TODO: Add CSS for the card */
.card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  font-size: 24px;
}
.card-front {
  background-color: #ff9f00;
}

.card-back {
  background-color: #4caf50;
  transform: rotateY(180deg);
}
