/* CSS - Hard */

/* TODO: Add CSS for the card */

.card-container {
    perspective: 1500px;
    width: 200px;
    height: 300px;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
    transform-origin: center;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    font-size: 25px;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-front {
    background: #ff9f00;
}

.card-back {
    background: #4caf50;
    transform: rotateY(180deg);
}

.card-container:hover .card {
    transform: rotateY(180deg);
}