/* CSS - Hard */

/* TODO: Add CSS for the card */
.card-container { perspective: 1000px; width: 300px; height: 400px; }
.card {
  width: 100%; height: 100%; position: relative;
  transition: transform 0.8s; transform-style: preserve-3d;
}
.card-container:hover .card { transform: rotateY(180deg); }
.card-front {
  position: absolute; width: 100%; height: 100%;
  backface-visibility: hidden; display: flex; align-items: center; justify-content: center;
  background: #ff9f00; color: rgb(5, 5, 5);
}
.card-back {
  position: absolute; width: 100%; height: 100%;
  backface-visibility: hidden; background: #4caf50; color: white;
  transform: rotateY(180deg); display: flex; align-items: center; justify-content: center;
}