{{!-- Ember - Easy --}}

{{!-- TODO: Implement the functionality required in the task here --}}
<h1>Welcome to my Ember App</h1>
<p>This is a simple Ember template rendering dynamic data.</p>
<ul>
  {{#each this.items as |item|}}
  <li>{{item}}</li>

  {{/each}}
</ul>
<p>Total items: {{this.items.length}}</p>
{{outlet}}