@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>


<p role="status">Value (Increment): @incrementValue</p>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-Plus" @onclick="CountPlus">+</button>
<button class="btn btn-Negative" @onclick="CountNegative">-</button>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private int incrementValue = 1;


    private void CountPlus()
    {
        incrementValue++;
    }

    private void CountNegative()
    {
        incrementValue -= 1;
    }

    private void IncrementCount()
    {
        if(currentCount + incrementValue >= 0)
        {
                    currentCount += incrementValue;
        }
        else
        {
            return;
        }
    }
}
