// SASS - Easy

$primary-color: #3498db;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 10px 0;
}