// SASS - Easy

$primary-color: #3498db;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// TODO: Implement the Container class, do not change the code above
container {
    color: $primary-color;
    border: 1px solid $primary-color;
    padding: 10px 15px;
}
